[user]
	email = devkimura@gmail.com
	name = kimutyam
[core]
	editor = vim
[color]
	ui = auto
[merge]
	tool = vimdiff
[alias]
	st = status
	co = checkout
	ci = commit
    br = branch
[pull]
    rebase = true
[push]
	autoSetupRemote = true
